* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #121214;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    text-align: center;
    font-size: 22px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li {
    display: inline;
    text-align: center;
    font-size: 100%;
    padding-left: 20px;
    margin: 20px;
    flex: 1%;
}

footer {
    margin-top: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #2b2b2e3f;
}

footer {
    margin-inline: 20px
}

#nav-div {
    border-radius: 10px;
    width: 80%;
    background-color: #2b2b2e;
}

#navbar-itens {
    display: flex;
    font-size: 20px;
}

#titulo-sobre {
    margin: 20px;
}

#imagem-perfil-div {
    margin: 50px;
    text-align: center;
}

#imagem-perfil {
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
    width: 350px;
}

#sobre {
    margin-inline: 400px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #2b2b2e;
    font-size: 20px;
    border-radius: 10px;
}

#rodape {
    display: flex;
    background-color: #2b2b2e;
    border-radius: 10px;
    padding: 1%;
}

#copy {
    padding-top: 20px;
}

#rodape-texto {
    color: rgba(255, 255, 255, 0.856);
    padding: 1%;
    margin-inline: auto;
}

#redes {
    display: flex;
    padding: 10px;
    text-align: center;
    width: 120px;
    margin-inline: end;
}

#redes-itens {
    padding: 5px;
}